* 
{
	margin: 0;
	padding: 0;
	font-family: "Helvectica Neue", sans-serif;
	word-spacing: -2px;
}

h1
{
	font-size: 40px;
	font-weight: bold;
	color: #191919;
}

.message
{
	background: #181818;
	color: #fff;
	position: absolute;
	top: -250px;
	left: 0;
	width: 100%;
	height: 250px;
	padding: 20px;
	transition: top 300ms cubic-bezier(.17, .04, .03, .94);
	overflow: hidden;
	box-sizing: border-box;
}

.message h1
{
	color: #fff;
}

#toggle
{
	position: absolute;
	appearance: none;
	cursor: pointer;
	left: -100%;
	top: -100%;
}

#toggle + label
{
	position: absolute;
	cursor: pointer;
	padding: 10px;
	background: #26ae90;
	width: 100px;
	border-radius: 3px;
	padding: 8px 10px;
	color: #fff;
	line-height: 20px;
	font-size: 12px;
	text-align: center;
	transition: all 500ms ease;
	margin: 20px 50px;
}

#toggle + label:after
{
	content: "open";

}

.container
{
	transition: margin 300ms cubic-bezier(.17, .04, .03, .94);
	padding: 5em 3em;
}

#toggle:checked ~ .message 
{
	top: 0;
}

#toggle:checked ~ .container 
{
	margin-top: 250px;
}

#toggle:checked + label
{
	background: #dd6149;
}

#toggle:checked + label:after
{
	content: "close";
}